*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6;
  background: #222; }

html {
  font-size: 62.5%; }

.dummy {
  background: orangered;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0 auto; }

.Header {
  height: 10rem;
  width: 100%;
  grid-column: 4 / 6;
  grid-row: 2;
  margin: 0 auto;
  background: yellow; }
