@mixin headerRoll {
  justify-self: center;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .1s;
  }
  &-Visible {
    padding: 1.75rem;
  }
  &-Invisible {
    padding: 1.75rem;
    position: absolute;
    left: 0;
    top: -100%;
  }
  &:hover &-Visible {
    transform: translateY(100%);
  }
  &:hover &-Invisible {
    top: 0;
  }
  &:focus {
    outline: none;
  }
}

@mixin placement {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}