// $darkred: #ff0312;
// $lighter: lighten($darkred, 7%);
// This is the worst color ever

$red: #8f3a3a;
$darkRed: darken($red, 10%);

$lightGrey: #afadad;
$darkGrey: darken($lightGrey, 35%);

$skillsBlue: #2070d8;
$skillsDarkBlue: darken($skillsBlue, 20%);

$aboutPurple: #901b69;
$aboutPurpleDark: darken($aboutPurple, 10%);

$homeGreen: #318131;
$homeGreenDark: darken($homeGreen, 12%);

$headerWhite: #e2e1e1;

$black: #1b1818;
$darkBorder: .2rem solid $black;