// $darkred: #ff0312;
// $lighter: lighten($darkred, 7%);
// This is the worst color ever

$red: #8f3a3a;
$darkRed: darken($red, 10%);

$lightGrey: #afadad;
$darkGrey: darken($lightGrey, 35%);

$headerWhite: #e2e1e1;