.About {
  // background: rgb(102, 14, 14);
  background: $aboutPurpleDark;
  color: white;
  @include placement;
  display: grid;
  grid-template-columns: 1fr 50rem 1fr;
  grid-template-rows: 2.5rem 30rem 2.5rem 1fr;
  & h1 {
    text-align: center;
  }
  & p {
    font-size: 1.8rem;
    padding: 0 1rem 1rem 1rem;
  }
  &-Center {
    grid-column: 2;
    grid-row: 2 / 4;
  }
  &-Left {
    grid-row: 3;
    grid-column: 1;
  }
  &-Right {
    grid-row: 3;
    grid-column: 3;
  }
}