// This is more inline with what I had in mind. I remove the columns and add a few rows
// For the content. After that I simply place the items inside of the rows. I think I've been
// treating grid in such a way that while it does work, it isn't ideal to the flow of data.
// This page (on small screens) highlights what I think should happen.
.Contact {
  background: $darkGrey;
  @include placement;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 2.5rem repeat(4, 10rem);
  grid-gap: 5rem;
  font-size: 1.5rem;
  text-align: center;
  @include respond(tabPort) {
    grid-template-columns: 0;
    grid-template-rows: 35rem repeat(4, 20rem);
    grid-gap: 0;
  }
  & a {
    font-size: 7rem;
    padding: 0;
    margin: 0;
    text-decoration: underline;
  }
  &-GitHub {
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
    & a {
      color: #7cbb00;
    }
  }
  &-Twitter {
    grid-row: 3;
    grid-column: 2;
    & a {
      color: #1da1f2;
    }
  }
  &-LinkedIn {
    grid-row: 4;
    grid-column: 2;
    & a {
      color: #ffbb00;
    }
  }
  &-Email {
    grid-row: 5;
    grid-column: 2;
    & a {
      color: #ea4335;
    }
  }
}