.Home {
  background: $homeGreenDark;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 1.5rem;
  &-Greeting {
    grid-column: 2;
    grid-row: 2;
  }
  &-Welcome {
    grid-column: 2;
    grid-row: 3;
  }
  &-Exit {
    grid-column: 2;
    grid-row: 7;
  }
}