.Portfolio {
  background: $darkRed;
  @include placement;
  display: grid;
  // grid-template-columns: min-content;
  grid-template-rows: 5rem max-content;
  grid-template-columns: 5rem repeat(5, 30rem);
  // grid-template-rows: 5rem 1fr;
  &-Websites {
    grid-column: 2;
    grid-row: 2;
    display: grid;
  }
  &-Button {
    &-JR {
      background: yellow;
    }
    &-STC {
      background: cornflowerblue;
    }
    &-SSC {
      background: #222;
      color: white;
    }
  }
  &-JS {
    grid-column: 4;
    grid-row: 2;
  }
  &-Components {
    grid-column: 6;
    grid-row: 2;
  }
}