.Portfolio {
  background: $darkRed;
  @include placement;
  display: grid;
  // grid-template-columns: min-content;
  // grid-template-rows: 5rem max-content;
  grid-template-columns: 5rem repeat(5, 30rem);
  grid-template-rows: .3rem;
  &-Button {
    &-JR {
      background: #4d2f79;
    }
    &-STC {
      background: cornflowerblue;
    }
    &-SSC {
      background: #222;
    }
    &-Bookmarker {
      background: #76ca6b;
      color: black;
    }
    &-Counter {
      background: #348290;
    }
    &-Filterable {
      background: #6766af;
    }
    &-GitHub {
      background: coral;
      color: black;
    }
    &-Gallery {
      background: #a82f6c;
      color: white;
    }
    &-Slider {
      background: #2b464e;
    }
    &-VisibilityToggle {
      background: #556b2f;
    }
  }
  &-Websites {
    grid-column: 2;
    grid-row: 1;
  }
  &-JS {
    grid-column: 4;
    grid-row: 1;
  }
  &-Components {
    grid-column: 6;
    grid-row: 1;
  }
}