.Portfolio {
  background: #360542;
  @include placement;
  display: grid;
  // grid-template-columns: min-content;
  grid-template-rows: 5rem max-content;
  grid-template-columns: 5rem repeat(5, 30rem);
  // grid-template-rows: 5rem 1fr;
  &-Websites {
    grid-column: 3;
    grid-row: 2;
    display: grid;
  }
  &-Button {
    &-JR {
      background: yellow;
    }
  }
  &-Toggle {
    font-size: 1.5rem;
  }
}