.Skills {
  background: #2070d8;
  @include placement;
  display: grid;
  grid-template-rows: 5rem max-content;
  grid-template-columns: repeat(5, 20%);
  justify-items: center;
  font-size: 1.5rem;
  text-align: center;
  &-HTML {
    grid-row: 2;
    grid-column: 1;
  }
  &-CSS {
    grid-row: 2;
    grid-column: 2;
  }
  &-JavaScript {
    grid-row: 2;
    grid-column: 3;
  }
  &-React {
    grid-row: 2;
    grid-column: 4;
  }
}

#one {
  width: 10rem;
  height: 10rem;
}