.Body {
  background: brown;
  grid-column: 2 / -1;
  grid-row: 3 / -1;
  // clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); Is a star
  // clip-path: polygon(100% 0, 50% 100%, 0 100%, 0 50%); Is a road
  // clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
  clip-path: polygon(0 100%, 100% 0, 0 0);
  z-index: 2;
}

.BodyTwo {
  background: coral;
  grid-column: 2 / -1;
  grid-row: 3 / -1;
}