.Header {
  background: linear-gradient(25deg, #000c24, #062361, #0838a6, #004ef1);
  // background: orangered;
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 3;
}