.Header {
  background: #383030;
  // background: linear-gradient(25deg, #000c24, #062361, #0838a6, #004ef1);
  grid-column: 1 / -1;
  grid-row: 1;
  // display: flex;
  // align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(5, max-content) 1fr .1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &-Home {
    grid-column: 1;
    @include headerRoll;
    &:hover {
      background: #a32020;
    }
  }
  &-About {
    grid-column: 2;
    @include headerRoll;
    &:hover {
      background: #e04618;
    }
  }
  &-Skills {
    grid-column: 3;
    @include headerRoll;
    &:hover {
      background: #442727;
    }
  }
  &-Portfolio {
    grid-column: 4;
    @include headerRoll;
    &:hover {
      background: $darkRed;
    }
    &-Active {
      background: $darkRed;
    }
  }
  &-Contact {
    grid-column: 5;
    @include headerRoll;
    &:hover {
      background: $darkGrey;
    }
    &-Active {
      background: $darkGrey;
    }
  }
  &-Line {
    grid-column: 6;
    align-self: center;
    height: .1rem;
    width: min-content;
    background: $headerWhite;
  }
}