.Header {
  background: #383030;
  // background: linear-gradient(25deg, #000c24, #062361, #0838a6, #004ef1);
  grid-column: 1 / -1;
  grid-row: 1;
  // display: flex;
  // align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(5, max-content) 1fr .1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include respond(tabPort) {
    grid-template-columns: 1fr;
    grid-template-rows: 5;
  }
  &-Home {
    grid-column: 1;
    @include headerRoll;
    &:hover {
      background: $homeGreenDark;
    }
    &-Active {
      background: $homeGreenDark;
    }
    @include respond(tabPort) {
      grid-row: 1;
      grid-column: 1;
      width: 100%;
      &-Active {
        grid-row: 7;
      }
    }
  }
  &-About {
    grid-column: 2;
    @include headerRoll;
    &:hover {
      background: $aboutPurpleDark;
    }
    &-Active {
      background: $aboutPurpleDark;
    }
    @include respond(tabPort) {
      grid-row: 2;
      grid-column: 1;
      width: 100%;
      &-Active {
        grid-row: 7;
      }
    }
  }
  &-Skills {
    grid-column: 3;
    @include headerRoll;
    &:hover {
      background: $skillsDarkBlue;
    }
    &-Active {
      background: $skillsDarkBlue;
    }
    @include respond(tabPort) {
      grid-row: 3;
      grid-column: 1;
      width: 100%;
      &-Active {
        grid-row: 7;
      }
    }
  }
  &-Portfolio {
    grid-column: 4;
    @include headerRoll;
    &:hover {
      background: $darkRed;
    }
    &-Active {
      background: $darkRed;
    }
    @include respond(tabPort) {
      grid-row: 5;
      grid-column: 1;
      width: 100%;
      &-Active {
        grid-row: 7;
      }
    }
  }
  &-Contact {
    grid-column: 5;
    @include headerRoll;
    &:hover {
      background: $darkGrey;
    }
    &-Active {
      background: $darkGrey;
    }
    @include respond(tabPort) {
      grid-row: 6;
      grid-column: 1;
      width: 100%;
      // &-Active {
      //   grid-row: 7;
      // }
    }
  }
  &-Line {
    grid-column: 6;
    align-self: center;
    height: .1rem;
    width: min-content;
    background: $headerWhite;
    @include respond(tabPort) {
      display: none;
    }
  }
}