// Styling for my RotatingCard. This will >ONLY< be shown on the main page.
.RotatingCard {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  width: 85%;
  grid-column: 1;
  grid-row: 2;
  padding: 0 1rem 1rem 1rem;
  &-Side {
    background: #000;
    font-size: 2.2rem;
    color: white;
    height: 100%;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  }
  &-Side-Front {
    height: 100%;
    width: 100%;
  }
  &-Side-Back {
    transform: rotateY(180deg);
    width: 100%;
    &-1 {
      background: red;
      background-position: center;
      background-size: 40rem 30rem;
      background-repeat: no-repeat;
    }
  }
  &:hover &-Side-Front {
    transition: all .8s ease;
    transform: rotateY(-180deg);
  }
  &:hover &-Side-Back {
    transform: rotateY(0);
  }
}

.RotatingCardTwo {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  width: 85%;
  grid-column: 3;
  grid-row: 2;
  padding: 0 1rem 1rem 1rem;
  &-Side {
    background: #000;
    font-size: 2.2rem;
    color: white;
    height: 100%;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  }
  &-Side-Front {
    height: 100%;
    width: 100%;
  }
  &-Side-Back {
    transform: rotateY(180deg);
    width: 100%;
    &-1 {
      background: red;
      background-position: center;
      background-size: 40rem 30rem;
      background-repeat: no-repeat;
    }
  }
  &:hover &-Side-Front {
    transition: all .8s ease;
    transform: rotateY(-180deg);
  }
  &:hover &-Side-Back {
    transform: rotateY(0);
  }
}


// .RotatingCardTwo {
//   grid-column: 3;
//   grid-row: 2;
//   -moz-perspective: 150rem;
//   perspective: 150rem;
//   width: 85%;
//   &-Side {
//     background: yellowgreen;
//     width: 100%;
//     color: white;
//     height: 100%;
//     transition: all .8s ease;
//     position: absolute;
//     top: 0;
//     left: 0;
//     backface-visibility: hidden;
//     overflow: hidden;
//     box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
//     font-size: 2.2rem;
//   }
//   &-Side-Front {
//     height: 100%;
//     width: 100%;
//     text-align: center;
//   }
//   &-Side-Back {
//     transform: rotateY(180deg);
//     width: 100%;
//     text-align: center;
//     &-1 {
//       background: purple;;
//     }
//   }
//   &:hover &-Side-Front {
//     transition: all .8s ease;
//     transform: rotateY(-180deg);
//   }
//   &:hover &-Side-Back {
//     transform: rotateY(0);
//   }
// }
