.Weight {
  background: #222;
  padding: 1rem;
  & h1 {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  &-Input {
    width: 100%;
    padding: .5rem;
  }
  &-Result {
    font-size: 1.3rem;
  }
}